@import url('https://fonts.googleapis.com/css2?family=Akaya+Telivigala&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hind:wght@300&display=swap');

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(247, 247, 247);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.nav-link {
    font-size: 22px;
    color: teal;
}

/* ----------------------------------------Form----------------------------------------------------- */

[list]::-webkit-calendar-picker-indicator {
    display: none;
  }

.formStyle { 
	/* background-color: rgb(230, 43, 83); */
    padding: 9px; 
    width: 400px; 
	border-radius: 5px;
	border: 1px solid teal;
	font-size: 20px;
    color: rgb(31, 30, 30);
  }
  
/*To remove the outline that appears on clicking the input textbox*/
input:focus {
    outline: none;
  }
  
select:focus {
    outline: none;
}
  /* To format the placeholder text color */
.formStyle::-webkit-input-placeholder {
	color: rgb(112, 112, 112);
}

.formStyle:-moz-placeholder { /* Firefox 18- */
	color: rgb(66, 65, 65);
}

.formStyle::-moz-placeholder {  /* Firefox 19+ */
	color: rgb(66, 65, 65);
}

.formStyle:-ms-input-placeholder {  
	color: rgb(66, 65, 65);
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

input[type=radio] {
    outline: none;
}

input[type=radio]:focus {
    outline: none;
}

@media screen and (max-width: 780px) { 

    .formStyle {
        width: 100%;
    }
}


/* ------------ Home ------------------------ */
.landing {
	height: 92vh;
	display: flex;
	justify-content: space-around;
	/* gap: 1rem; */
	align-items: center;
	/* background-color: rgb(230, 43, 83);
	background-color: rgb(117, 0, 128); */

}
.text_part h2 {
	color: black;
	font-family: 'Hind', sans-serif;
}

.search {
	margin-top: 4vh;
	display: flex;
	gap: 1rem;
}

.search_btn {
	border: none;
	border-radius: 5px;
	color: white;
	background-color: teal;
	/* font-size: 10px; */
}

.about_us p {
	font-size: 20px;
}

.create_listing_room {
	margin-top: 10vh;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.testi_heading {
    margin:5vh 0;
	font-size: 28px;
    text-align: center;
	font-family: 'Hind', sans-serif;
	font-weight: bold;

  }

.testi_heading::after {
      content: "";
      /* background: white; */
	  background: #343a40;
      width: 300px;
      height: 5px;
      border-radius: 5px;
      margin: auto;
      display: grid;
      /* justify-content: center; */
  }

.footer {
	height: 20vh;
	/* background-color: rgb(29, 27, 27); */
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin-top: 10vh;
}

.footer p {
	text-align: center;
	/* color: white; */
}

@media screen and (max-width: 780px) {

	.landing{
		height: 650px;
	}

	.landing {
		flex-direction: column-reverse;
	}
	.create_listing_room {
		flex-direction: column-reverse;
	}
	.text_part {
		margin: 0 5%;
	}
	.logo_part img {
		width: 300px;
		height: 300px;
	}

	.testi {
		/* flex-direction: column; */
		margin: 5% 5%;
	}

	/* .testi::-webkit-scrollbar {
		overflow: hidden;
	} */

	.testi_box {
		margin-top: 4vh;
	}

	.testi_heading::after {
        left: 21%;
        width: 200px;
    }
}

/* .custom_column {
	margin: 0 3%;
} */

/* ------ Search Result------------------------ */
.search_result {
	display: flex;
	margin: 2%;
}

.filters {
	flex: 1.3;
}

.results_wrapper {
	flex: 1.7;
}

.results {
	height: 80vh;
	overflow-y: scroll;
	/* display: flex;
	flex-direction: column;
	gap: 1rem; */
}

.outer {
	margin: 2% 0;
	overflow-x: scroll;
	/* white-space: nowrap */
}

.outer::-webkit-scrollbar {
    width: 0;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}

.horizontal_card {
	display: flex;
	height: 250px;
	gap: 3rem;
	align-items: center;
	background-color: white;
	border-radius: 10px;
	min-width: 550px;
	/* overflow-x: scroll;
	white-space: nowrap */
}

.card_left img {
	height: 250px;
	border-radius: 20px;
}

.filters {
	margin-top: 5vh;
}

.filter_section {
	display: flex;
	flex-direction: column;
	gap: 2rem;
}

.filter_section span p  {
    margin-block-start: 0.5em !important;
    margin-block-end: 0.3em !important;
}

@media screen and (max-width: 1000px) {
	.search_result {
		flex-direction: column;
	}
}

@media screen and (max-width: 700px) {
	.card_left img {
		height: 150px;
	}
}

/* @media screen and (max-width: 550px) {
	.horizontal_card {
		overflow-x: scroll;
		overflow-y: hidden;
		white-space: nowrap
	
	}
} */

/* --------- Item Details -------------------------- */

.map_area {
	margin: 5vh 0;

}

.reactmap {
	height: 400px;
	width: 400px;
}

.location_icon {
	display: flex;
}

@media screen and (max-width: 780px) {

	.map_area {
		height: 200px;
		width: 200px;
	}

}
/* -------------- Profile------------------------ */

.profile-head {
  transform: translateY(6rem);
  display: flex;
  /* flex-direction: column-reverse; */
}

.col-md-12 {
	padding-right: 0;
	padding-left: 0;
}

.profile img {
	width:180px;
	height:180px;
}

/* .contact_info p{
	font-size: 18px;
} */

.cover {
  background-color: #343a40;
  background-size: cover;
  background-repeat: no-repeat
}

body {
  /* background: #654ea3; */
  /* background: linear-gradient(to right, #e96443, #904e95); */
  min-height: 100vh
}

.contact_info {
	display: flex;
}

.contact_info_social {
	margin-top: 3vh;
	display: flex;
	/* justify-content: space-around */
}

.categories_profile {
	display: flex;
	justify-content: center;
	align-items: center;
}


.doctor_info_wrapper {
	margin: 0 2%;
}

.doc_info {
	background-color: #f8f9fa;
}
.doc_info p {
	margin-left: 1%;
	margin-block-start: 0.5em;
    margin-block-end: 0.5em;
}

.doc_info p b {
	color: rgb(73, 72, 72);
}

summary {
	font-weight: bold;
	font-size: large;
}

.map_location {
	margin: 4% 1% 2% 1%;
}


@media screen and (max-width: 780px) {
	.profile-head {
		flex-direction: column-reverse;
	  }

	.profile_email {
		font-size: 14px;
	}

}

/* -------------- Profile Ends Here------------------------ */

/* ----------- Registration ----------------------- */

.register_area {
	min-height: 60vh;
}

.social_login {
	margin-top: 5vh;
}

.register_messages {
	margin: 5vh 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.register_messages p {
	text-align: center;
	color: #e96443;
	font-size: 18px;
}

/* ---------------------Login starts ---------------------------*/

/* --------------- login--------------- */


@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');


.a {
	color: #333;
	font-size: 14px;
	text-decoration: none;
	margin: 15px 0;
}

button {
	border-radius: 20px;
	border: 1px solid #FF4B2B;
	background-color: #FF4B2B;
	color: #FFFFFF;
	font-size: 12px;
	font-weight: bold;
	padding: 12px 40px;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
}

button:active {
	transform: scale(0.95);
}

button:focus {
	outline: none;
}

button.ghost {
	background-color: transparent;
	border-color: #FFFFFF;
}

form {
	background-color: #FFFFFF;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 50px;
	height: 100%;
	text-align: center;
}

.form_input {
	background-color: #eee;
	border: none;
	padding: 12px 15px;
	margin: 8px 0;
	width: 100%;
}

@media screen and (max-width: 780px) {

	form {
		padding: 0 10px;
	}

}

/* ---------- login ends here----------------------------------- */

/* ---------- Profile Edit ------------------------ */
.pp {
	margin: 3vh 0;
	display: flex;
	justify-content: center;
	align-items: center;
}


/* ------- LogOut Page --------- */
.logout_page {
	/* margin-top: 10vh; */
	height: 70vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

/* ----- Loading----------------- */
.loading_loading {
	height: 75vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

/* ------ Edit Pages----------- */
.img_update {
	margin : 4vh 0;
	display: flex;
	align-items: center;
	justify-content: center;
}

.img_update h4 {
	color:rgb(223, 85, 108);
}

.pics {
	display: flex;
	/* justify-content: space-between; */
	width: 100%;
	gap: 1rem;
	overflow-y: hidden;
	overflow-x: scroll;
}

.pics img {
	height: 200px;
	width: 200px;
	/* border: 2px solid black; */
	/* padding: 0 1vh; */
}

.image_area_backend {
	/* width: 90%; */
	margin: 0 5%;
	display: flex;
	flex-direction: row;
	overflow-y: hidden;
	gap: 1rem;
	overflow-x: scroll;
}

.image_area_backend::-webkit-scrollbar {
	overflow: hidden;
}

@media screen and (max-width: 780px) {

	.pics::-webkit-scrollbar {
		overflow: hidden;
	}

	.pics img {
		padding: 1vh 0;
		width: 300px;
	}

}


/* -------------------------------- Below Landing ---------------------------------------- */
.belowLanding {
	margin-top: 10vh;
	display: flex;
	justify-content: center;
	align-items: center;
	/* width: 100%;
	height: 100%; */
}

.single-team {
	/* width: 300px; */
	/* width: 33%; */
	width: 100%;
	/* width: 300px; */
	height: 250px;
	padding: 24px;
	background: #ececec;
	position: relative;
	display: flex;
	align-items: flex-end;
	transition: .6s ease-out;
	/* box-shadow: 0 10px 10px rgba(0,0,0,0.5); */
}
.single-team:hover{
	transform: translateY(15px);
}

.single-team:hover:before{
	opacity: 1;

}

.single-team:hover .team-text {
	opacity: 1;
	transform: translateY(0);
}
.single-team:before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	width: 100%;
	height: 100%;
	background: linear-gradient(to top ,#000, transparent);
	z-index: 2;
	transition: 0.5s;
	opacity: 0;
}

.single-team img {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	object-fit: cover;
}

.single-team .team-text {
	position: relative;
	z-index: 3;
	color: #fff;
	opacity: 0;
	transform: translateY(60px);
	transition: 0.5s;
}

.team-text h2 {
	margin: 0;
	font-size: 18px;
}


@media screen and (max-width: 780px) {
	/* .team-area{
		flex-direction: column;
	} */

	.single-team {
		height: 200px;
	}

	.team-text h2, .team-text p {
		font-size: 19px;
	}

	.small-btn {
		font-size: 1rem;
		padding: 0.2em 0.2rem;
	}

}


.services_box {
	border-radius: 10px;
	background-color: #343a40;
	min-height: 280px;
}